.popup__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    margin: 48px 0 6px 0;
}

@media (max-width: 600px) {
    .popup__name {
        margin-top: 75px;
    }
}