.place__heart {
    width: 22px;
    height: 19px;
    margin: 0;
    background-image: url(./../../../images/Heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.place__heart:hover {
    opacity: .5;
}